.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0,0,0,0.4);
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

    &.on {
        opacity: 1;
        visibility: visible;
    }
}

.nav {
    display: flex;
    align-items: center;

    &--menu-toggle {
        border: none;
        background: url('/assets/icon-menu.svg') center no-repeat;
        width: 40px;
        height: 31px;

        &.close {
            background: url('/assets/icon-menu-close.svg') center no-repeat;
            transition: background-image 0.3s;
            position: relative;
            z-index: 1010;
        }
    }

    &--menu {
        position: fixed;
        inset: 0 0 0 33%;
        list-style-type: none;
        z-index: 1000;
        padding: 9rem 0 0 1.5rem;
        background-color: var(--clr-neutral-200);
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;

        li {
            color: var(--clr-neutral-900);
            font-size: 1.1rem;
            padding: 0.70rem 0;
        }

        &.mobile {
            transform: translateX(0);
        }
    }
}

@media (min-width: 1080px) {
    .nav {
        &--menu-toggle {
            display: none;
        }

        &--menu {
            position: inherit;
            display: flex;
            padding: 0;
            transform: none;
            gap: 3rem;
            
            li {
                color: var(--clr-neutral-400);

                &:hover {
                    cursor: pointer;
                    color: var(--clr-primary-300);
                }
            }
        }
    }
}