:root {
    --clr-primary-400: hsl(5, 85%, 63%);
    --clr-primary-300: hsl(35, 77%, 62%);

    --clr-neutral-900: hsl(240, 100%, 5%);
    --clr-neutral-400: hsl(236, 13%, 42%);
    --clr-neutral-300: hsl(233, 8%, 79%);
    --clr-neutral-200: hsl(36, 100%, 99%);

    --ff-base: "Inter", sans-serif;

    --font-regular: 400;
    --font-bold: 700;
    --font-ex-bold: 800;
}

/*
	1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
	2. Remove default margin
*/
* {
    margin: 0;
}

/*	
	3. Allow percentage-based heights in the application
*/
html,
body {
    height: 100%;
}

/*
	Typographic tweaks!
	4. Add accessible line-height
	5. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
	6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
	7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}

/*
	8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* General styling */
body {
    background-color: var(--clr-neutral-200);
    font-family: var(--ff-base);
	font-weight: var(--font-regular);
    font-size: 0.9375em;
	color: var(--clr-neutral-400);
    overflow-x: hidden;
}
