$content-padding: 1.25rem;

main {
    max-width: 1440px;
    margin: auto;
    height: 100%;
    scroll-behavior: smooth;
    padding: 1rem;
    z-index: 800;
}


.header {
    padding: 1rem 0 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.featured {
    margin-bottom: calc($content-padding * 3);

    &--image {
        margin-bottom: $content-padding;
    }

    &--title {
        font-size: 2.5rem;
        line-height: 1.1em;
        margin-bottom: $content-padding;
        color: var(--clr-neutral-900);
        font-weight: var(--font-ex-bold);
    }

    p {
        margin-bottom: $content-padding;
        line-height: 1.5em;
    }

    button {
        width: 12rem;
        max-width: 80%;
        height: 3rem;
        color: var(--clr-neutral-200);
        border: none;
        background-color: var(--clr-primary-400);
        letter-spacing: 0.4em;
        font-weight: var(--font-regular);
        text-transform: uppercase;

        &:hover {
            cursor: pointer;
            background-color: var(--clr-neutral-900);
            color: var(--clr-neutral-200);
        }
    }
}

.articles-card {
    width: 100%;
    background-color: var(--clr-neutral-900);
    padding: 1.25rem;
    margin-bottom: calc($content-padding * 3);

    &--header {
        font-size: 2rem;
        color: var(--clr-primary-300);
        margin-bottom: 1rem;
    }

    hr {
        border-color: var(--clr-neutral-400);
        margin: 1.5rem 0;
    }
}

.article-rankings {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: $content-padding;
}

.attribution {
    padding:0.5rem;
    font-size: 11px;
    text-align: center;

    a {
        color: hsl(228, 45%, 44%);
    }
}

@media (min-width: 768px) {
    .article-rankings {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }
}

@media (min-width: 1080px) {
    .showcase {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: $content-padding;
        margin-bottom: calc($content-padding * 3);

        .featured {
            grid-column: span 2;
            margin: 0;

            &--title {
                font-size: 3rem;  
                margin: 0;
            }

            &--description {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: $content-padding;
                place-items: center;
                margin-top: $content-padding;
            }
        }

        .articles-card {
            margin: 0;
        }
    }

    .article-rankings {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }
}