<main>
    <header class="header">
        <img class="logo" src="/assets/logo.svg" alt="Logo">
        <app-navigation></app-navigation>
    </header>

    <section class="showcase">
        <article class="featured">
            <picture class="featured--image">
                <source media="(min-width: 768px)" srcset="/assets/image-web-3-desktop.jpg">
                <img [src]="featured.image" alt="Hip web design pattern">
            </picture>

            <div class="featured--description">
                <h1 class="featured--title">{{ featured.title }}</h1>

                <div>
                    <p>{{ featured.description }}</p>

                    <button class="button">
                        Read More
                    </button>
                </div>
            </div>
        </article>

        <section class="articles-card">
                <h2 class="articles-card--header">New</h2>
                <ng-container *ngFor="let article of cardEntries.firstCard; let last = last">
                    <app-article-card-cell [article]="article">
                        <hr *ngIf="!last">
                    </app-article-card-cell>
                </ng-container>
        </section>
    </section>

    <section class="article-rankings">
        <ng-container *ngFor="let article of cardEntries.secondCard">
            <app-article-ranking-cell [article]="article">
            </app-article-ranking-cell>
        </ng-container>
    </section>

    <div class="attribution">
        Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
        Coded by <a href="#">Manuel Brás</a>.
    </div>
</main>
